.dailyEntry-container {
  width: 300px;
  height: 150px;
  position: relative;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 25px;
  // padding: 15px 0px 0px 0px;
  .top-container {
    padding: 20px 0 50px;
    height: 100%;
    width: 100%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .bottom-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      background-color: transparent;
      margin: 5px;
      cursor: pointer;
      .reaction-icon {
        // color: green;
        height: 25px;
      }
      .reaction-icon.like {
        color: rgb(29, 155, 240);
      }
      .reaction-icon.dislike {
        color: darkslategray;
      }
      .reaction-icon.heart {
        color: crimson;
      }
      .reaction-icon.remove {
        // color: rgb(241, 35, 35);
        color: brown;
      }
    }

    .reaction-container {
      margin-left: 25px;

    }
  }

}
// .dailyEntry-container.selected {
//   background-color: rgba(0, 0, 0, 0.5);
// }