@import '../library';

.day-container {
  padding: 0 12%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0 5%;
  }
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    .day-icon {
      height: 40px;
      margin: 20px;
    }
  }
  .entry-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .no-entry-container {
    margin: 25px 0;
    img {
      height: 400px;
    }
  }

}


