.header-container {
  // height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  img {
    height: 250px;
    width: 350px;
  }
  nav {

    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style-type: none;
        margin: 0 20px;
        a {
          text-decoration: none;
          font-size: 2.5em;
        }
      }
    }
  }
}