.header-container {
  // height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  img {
    // height: 150px;
    // width: 400px;
    height: 100px;
    width: 267px;
  }
  nav {

    ul {
      display: flex;
      flex-direction: row;
      li {
        list-style-type: none;
        margin: 0 20px;
        a {
          text-decoration: none;
          font-size: 1.5em;
        }
      }
    }
  }
}