.monthDays-container {
  height: 150px;
  // width: 150px;
  min-width: calc(100%/7);
  // width: 100%;
  border: 1px grey solid;
  padding: 10px;
  @media only screen and (max-width: 600px) {
    padding: 2px;
  }
  h3 {
    line-height: 1em;
    font-size: 1.5em;
    @media only screen and (max-width: 600px) {
      font-size: 1em;
    }
  }
  ul {
    li {
      list-style-type: none;
      font-size: 1em;
      line-height: 1.2em;
      @media only screen and (max-width: 600px) {
        font-size: 0.6em;
        overflow-wrap: break-word;
      }
      span {
        margin-left: 10px;
        @media only screen and (max-width: 600px) {
          margin-left: 2px;
        }
      }
    }
  }
}