@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Tenor+Sans&display=swap');

$color-main: #D2E0FB;
$color-main-logo: #000000;
$color-main-2: #676767;
$mobile-breakpoint: 600px;
$prev-main-color: #ADD8E6;

$main-text: "Assistant", sans-serif;
$landing-main: "Tenor Sans", sans-serif;


$logo-bg: #1D366F;
$logo-font-family: 'Montserrat Alternates', sans-serif;

$nav-height: 125px;
$mobile-nav-height: 10vh;
$footer-height: 60px;
$mobile-footer-height: 5vh;


// Blue
// $color1-3: #3498db;
$color1-1: #8ab8f0;
$color1-2: #5fa8e5;
$color1-3: #92b3dc;
$color1-4: #2074ad;
$color1-5: #0c4b7a;


// Green
// $color2-0: #2ecc71;
$color2-1: #8df3a1;
$color2-2: #5ee68a;
$color2-3: #b5df95;
$color2-4: #28a35d;
$color2-5: #187a3f;

// Yellow
// $color3-0: #f1c40f;
$color3-1: #fce789;
$color3-2: #f7d551;
$color3-3: #e4e263;
$color3-4: #d4ab0a;
$color3-5: #a68308;

// Pink
// $color4-0: #fb558c;
$color4-1: #f7aec7;
$color4-2: #f3779e;
$color4-3: #edacee;
$color4-4: #c43268;
$color4-5: #a8315a;

// Red
// $color5-0: #fa2912;
$color5-1: #f6896e;
$color5-2: #f5573e;
$color5-3: #e48b8b;
$color5-4: #c0382c;
$color5-5: #96261b;


// Purple
// $color6-0: #9b59b6;
$color6-1: #d6b3e9;
$color6-2: #b983d6;
$color6-3: #bb95d4;
$color6-4: #a470b7;
$color6-5: #5d2671;

// Orange
// $color7-0: #fb7b0a;
$color7-1: #febc6f;
$color7-2: #f99a3c;
$color7-3: #fea455;
$color7-4: #da7324;
$color7-5: #d09324;





$color-pal1: #ADD8E6;
$color-pal2: #F9F3CC;
$color-pal3: #D7E5CA;
$color-pal4: #8EACCD;
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
