.whatsNewNote-container {
  border: 1px grey solid;
  padding: 25px;
  padding-left: 35px;
  margin: 25px;
  border-radius: 15px;
  width: 80%;
  background-color: #f2f6fc;
  h3 {
    font-size: 1.5em;
    color: green;
  }
  li {
    font-size: 1.2em;
    margin: 10px 0;
  }
}