@import '../../library';

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: $nav-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // background-color: $color-main;
  background-color: white;
  border-bottom: 0.5px lightgray solid;
  padding: 0 10%;
  z-index: 6;
  @media only screen and (max-width: $mobile-breakpoint) {
    border-bottom: 1px grey solid;
    height: $mobile-nav-height;
  }
  .palette-logo {
    font-family: $logo-font-family;
    font-size: 3em;
    text-decoration: none;
    color: $color-main-logo;
    @media only screen and (max-width: $mobile-breakpoint) {
      font-size: 2em;
    }  
  }
  .palette-logo:hover{
    color: grey;
  }
  img {
    // prev
    // height: 100px;
    // width: 267px;
    height: 80px;
    @media only screen and (max-width: $mobile-breakpoint) {
      height: 65px;
    }  
  }
  .logo-container {
    color: #F9F3CC;
    font-size: 2em;
    font-family: $logo-font-family;
  }
  nav {
    display: flex;
    align-items: center;
    .mobile-nav{
      display: none;
      @media only screen and (max-width: $mobile-breakpoint) {
        display: block;
      }
      .mobile-nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh; /* Adjust based on your design */
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
        ul {
          // position: relative;
          // z-index: 10;
          color: $color-main-2;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            height: 100%;
            width: 100%;
            text-align: center;
            margin: 5px 0 0px;
            padding-bottom: 5px;
            border-bottom: 1px grey solid;
            a {
              text-decoration: none;
              font-size: 1.5em;
              color:$color-main-logo;
            }
          }
        }
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      @media only screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
      li {
        list-style-type: none;
        margin: 0 20px;
        padding: 5px 10px;

        a {
          text-decoration: none;
          font-size: 1.4em;
          color: #0c4b7a;
          font-weight: 500;
          font-family: $main-text;
          letter-spacing: 2px;

        }
        a:hover {
          color: grey;
        }
      }
    }
  }
}