@import '../../library';

.nav-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-main;
  padding: 0 10%;
  @media only screen and (max-width: $mobile-breakpoint) {
    border-bottom: 1px grey solid;
  }
  img {
    // height: 150px;
    // width: 400px;
    height: 100px;
    width: 267px;
  }
  nav {
    display: flex;
    align-items: center;
    .mobile-nav{
      display: none;
      @media only screen and (max-width: $mobile-breakpoint) {
        display: block;
      }
      .mobile-nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px; /* Adjust based on your design */
        left: 0;
        width: 100%;
        background-color: $color-main;
        z-index: 10;
        ul {
          // position: relative;
          // z-index: 10;
          color: $color-main-2;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            height: 100%;
            width: 100%;
            text-align: center;
            margin: 5px 0 0px;
            padding-bottom: 5px;
            border-bottom: 1px grey solid;
            a {


              text-decoration: none;
              font-size: 1.5em;
              color:$color-main-logo;
            }
          }
        }
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: $mobile-breakpoint) {
        display: none;
      }
      li {
        list-style-type: none;
        margin: 0 20px;
        a {
          text-decoration: none;
          font-size: 1.5em;
        }
      }
    }
  }
}