@import '../../../library';

.dailyEntry-container {
  width: 300px;
  height: 200px;
  background-color: rgb(242, 249, 249);
  padding: 15px 15px 60px;
  position: relative;
  // border: black solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
  // padding: 15px 0px 0px 0px;
  @media only screen and (max-width: 600px) {
    height: 125px;
    font-size: 20px;
    padding: 5px;
  }

  .top-container {
    height: 100%;
    width: 100%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    display: flex;
    // justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .dailyEntry-icon-container {
      text-align: center;
      .dailyEntry-icon {
        height: 1em;
      }
    }
  }
  .bottom-container {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    button {
      border: none;
      background-color: transparent;
      margin: 5px;
      cursor: pointer;
      .reaction-icon {
        // color: green;
        height: 25px;
      }
      .reaction-icon.like {
        color: rgb(29, 155, 240);
      }
      .reaction-icon.dislike {
        color: darkslategray;
      }
      .reaction-icon.heart {
        color: crimson;
      }
      .reaction-icon.remove {
        // color: rgb(241, 35, 35);
        color: brown;
      }
    }

    .reaction-container {
      margin-left: 25px;

    }
  }

}
// .dailyEntry-container.selected {
//   background-color: rgba(0, 0, 0, 0.5);
// }